title{
    text-align: center;
}

body {
    background-color:#ffffff;
    background-repeat:no-repeat;
    background-position:top left;
    background-attachment:fixed;
}
h1{
    font-family:Arial, sans-serif;
    color:#000000;
    background-color:#ffffff;
}
p {
    font-size:14px;
    font-style:normal;
    font-weight:normal;
    color:#000000;
    background-color:#ffffff;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    font-size: 1em;
}

table {
    margin-bottom: 20px;
    width: 100%;
}

#query-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}
